                    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
                     :root {
                        --color1: #654f3a;
                        --black: #111;
                        --white: #fff;
                        --light-bg: #eee;
                        --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                        --border: .1rem solid rgba(0, 0, 0, .3);
                    }
                    
                    * {
                        font-family: 'Playfair Display', serif;
                        margin: 0;
                        padding: 0;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        outline: none;
                        border: none;
                        text-decoration: none;
                    }
                    
                    html {
                        font-size: 62.5%;
                        overflow-x: hidden;
                        scroll-behavior: smooth;
                    }
                    
                    section {
                        padding: 5rem 8%;
                    }
                    
                    .btn {
                        display: inline-block;
                        margin-top: 1rem;
                        padding: 1rem 3rem;
                        background: var(--black);
                        color: var(--white);
                        cursor: pointer;
                        font-size: 1.7rem;
                        text-transform: capitalize;
                        transition: .2s linear;
                        border: 1px solid var(--color1);
                        border-radius: 5px;
                    }
                    
                    .btn:hover {
                        background: var(--color1);
                        color: var(--black);
                    }
                    
                    .header {
                        position: -webkit-sticky;
                        position: sticky;
                        top: 0;
                        left: 0;
                        right: 0;
                        -webkit-box-shadow: var(--box-shadow);
                        box-shadow: var(--box-shadow);
                        padding: 1.5rem 10%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        z-index: 1000;
                        background: var(--white);
                    }
                    
                    .header .logo {
                        font-size: 2.5rem;
                        color: var(--black);
                        text-transform: capitalize;
                    }
                    
                    .header .logo span {
                        color: var(--color1);
                    }
                    
                    .header .navbar a {
                        font-size: 2rem;
                        color: var(--black);
                        text-transform: capitalize;
                        margin: 0 1rem;
                    }
                    
                    .header .navbar a:hover {
                        color: var(--color1);
                    }
                    
                    .header .nav-icon i {
                        height: 5rem;
                        width: 5rem;
                        line-height: 5rem;
                        font-size: 2rem;
                        color: var(--black);
                        cursor: pointer;
                        text-align: center;
                        margin-left: .3rem;
                    }
                    
                    .header .nav-icon i:hover {
                        color: var(--color1);
                    }
                    
                    .header #toggle-btn {
                        display: none;
                        color: black;
                    }
                    
                    .home {
                        padding: 0;
                    }
                    
                    .home .slide {
                        min-height: 55.3rem;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        position: relative;
                        background-size: cover !important;
                        background-position: center !important;
                    }
                    
                    .home .slide::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                    
                    .home .slide .content {
                        width: 50rem;
                        position: relative;
                    }
                    
                    .home .slide .content h3 {
                        font-size: 3rem;
                        color: var(--black);
                        text-transform: capitalize;
                        text-transform: uppercase;
                    }
                    
                    .home .swiper-button-next::after,
                    .home .swiper-button-prev::after {
                        font-size: 3rem;
                        color: var(--black);
                    }
                    
                    .home-2 {
                        font-family: 'Raleway', sans-serif;
                        word-spacing: 2px;
                        text-align: justify;
                    }
                    
                    .business {
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        place-items: center;
                    }
                    
                    .business img {
                        width: 30%;
                        padding-bottom: 5rem;
                    }
                    
                    .home-2-tit {
                        font-size: 2.75rem;
                        color: #583927;
                        margin-bottom: .8rem;
                    }
                    
                    .home-2-tit2 {
                        font-size: 1.75rem;
                        color: #a67d5e;
                        font-weight: 400;
                        margin-bottom: .8rem;
                    }
                    
                    .home-2 span {
                        font-size: 1.4rem;
                        margin-bottom: 4rem;
                    }
                    
                    .services {
                        background-color: var(--light-bg);
                    }
                    
                    .container {
                        display: grid;
                        place-items: center;
                    }
                    
                    .title {
                        margin-bottom: 3rem;
                        font-size: 3rem;
                        color: var(--color1);
                        text-transform: capitalize;
                    }
                    
                    .title::after {
                        content: '';
                        display: inherit;
                        width: 40%;
                        margin: 10px auto;
                        border-top: 2px solid var(--color1);
                    }
                    
                    @media (max-width: 1200px) {
                        .header {
                            padding: 1.5rem 2rem;
                        }
                        section {
                            padding: 3rem 5%;
                        }
                    }
                    
                    @media (max-width: 991px) {
                        html {
                            font-size: 55%;
                        }
                        section {
                            padding: 3rem 2rem;
                        }
                        .header #toggle-btn {
                            display: inline-block;
                        }
                        .header .navbar {
                            position: absolute;
                            top: 99%;
                            left: 0;
                            right: 0;
                            background: var(--white);
                            border-top: var(--border);
                            border-bottom: var(--border);
                            -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                            -webkit-transition: .2s linear;
                            transition: .2s linear;
                        }
                        .header .navbar.active {
                            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                        }
                        .header .navbar a {
                            display: block;
                            margin: 2rem;
                        }
                    }
                    
                    @media (max-width: 768px) {
                        .header .search-form {
                            width: 90%;
                        }
                        .header .login-form {
                            width: 90%;
                        }
                        .home .slide {
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                        }
                        .home .slide .content {
                            text-align: center;
                        }
                        .home .slide .content h3 {
                            font-size: 3rem;
                        }
                    }
                    
                    @media (max-width: 450px) {
                        html {
                            font-size: 50%;
                        }
                    }